@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');



body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 182vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #20042c;
    overflow-y: auto;
    padding: 20px 0;
}

h2 {
    color: #ffffff;
    text-align: center;
    margin: 10px 0;
}


.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    padding-bottom: 30px;
    transition: transform 0.3s ease-in-out;
    margin: 25px auto;
}

.form-container:hover {
    transform: scale(1.01);
}


.form-group, .css-aditional {
    margin-bottom: 30px;
}

.form-group p{
    font-size: 12px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 27px;
}



.form-group label, .form-group legend {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #727272;
    font-size: 14px;
}

.css-aditional label, .form-group legend {
    font-size: 18px;
    display: block;
    color: black;
;
}


.form-group input {
    all: unset;
    border: 2px solid rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    display: inline-block;

}

.form-group input[type="radio"] {
    border-radius: 50%;
    margin-top: 15px;
    width: 22px;
    height: 22px;
}

.form-group input[type="checkbox"] {
    border-radius: 25%;
    margin-top: 15px;

}

.form-group input[type="checkbox"] {
    border-radius: 25%;
    margin-top: 15px;
    width: 22px;
    height: 22px;
}

.form-group input:checked {
    background-color: #682784;
    width: 22px;
    height: 22px;
}

  

.empty {
    border: 2px solid rgb(180, 0, 0) !important;
}

.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: #fafafa;
    transition: all 0.3s ease;
}

.css-aditional input, .css-aditional textarea { 
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: #fafafa;
    transition: all 0.3s ease;
}

.form-group select {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: #fafafa;
    transition: all 0.3s ease;
}

.form-group textarea:focus, #aditional-group input:focus, #aditional-group textarea:focus {
    border-color: #003cff;
    outline: none;
    background-color: #fff;
}

.form-group input:focus {
    border-color: #1d8aff;
    outline: none;
}

.hidden {
    display: none;
}

input[type="submit"] {
    background-color: #51146b;
    color: white;
    border: none;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #732496;
    transform: translateY(-3px);
}

label p, legend p {
    color: rgb(255, 60, 0);

}

.opcional {
    color: #611dff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #51146b;
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


@media (max-width: 768px) {
    .form-container {
        padding: 20px;
        max-width: 90%;
    }

    input[type="submit"] {
        font-size: 16px;
        padding: 16px;
    }


    .form-group label {
            font-size: 16px;
            padding: 12px;
        }

    .css-aditional, .form-group input, .form-group textarea, .form-group legend {
        font-size: 18px;

    }
}

@media (max-width: 480px) {
    .form-container {
        padding: 15px;
        max-width: 95%;
    }

    input[type="submit"] {
        font-size: 14px;
        padding: 14px;
    }

        .form-group label {
            font-size: 16px;
            padding: 12px;
        }

    .css-aditional, .form-group input, .form-group textarea, .form-group legend {
    font-size: 18px;

}
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin-bottom: 5%;
    height: auto;
}
